.o_form_view {
    .o_form_sheet_bg .o_form_sheet {
        max-width: none !important;
        width: auto !important;
    }
    .o_FormRenderer_chatterContainer {
        max-width: none;
    }
    .o_group.o_inner_group > tbody > tr > td.o_td_label {
        min-width: 200px !important;
    }
}
