/* Copyright 2015 Francesco OpenCode Apruzzese <cescoap@gmail.com>
   Copyright 2017 Thomas Binsfeld <thomas.binsfeld@acsone.eu>
 * License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). */

.test-ribbon {
    width: 300px;
    bottom: 25px;
    right: -100px;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 9999;
    position: fixed;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: rgba(255, 0, 0, 0.6);
    pointer-events: none;
}

.test-ribbon b {
    font-size: 20px;
}
